<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<script th:src="@{/js/bootstrap.min.js}"></script>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div class="container inner-padded">
    <div class="card shadow-lg p-3 mb-5 bg-white rounded">
        <form action="#" th:action="@{/track}" method="GET">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search for song" th:name="search" required/>
            </div>
            <button type="submit" class="btn btn-success">Search</button>
        </form>
    </div>

    <div class="card shadow-lg p-3 mb-5 bg-white rounded">
        <h1>5 Tracks for you</h1>
        <table class="table">
            <tr>
                <td><span style="font-weight:bold">Track</span></td>
                <td><span style="font-weight:bold">Artist</span></td>
            </tr>
            <tr th:each="song: ${songs}">
                <td th:text="${song.getName()}"></td>
                <td th:text="${song.getArtistName()}"></td>
            </tr>
        </table>
        <h1>5 Artists for you</h1>
        <table class="table">
            <tr th:each="artist: ${artists}">
                <td th:text="${artist.getName()}"></td>
            </tr>
        </table>
        <h1>5 Genres for you</h1>
        <table class="table">
            <tr th:each="genre: ${genres}">
                <td th:text="${genre.getName()}"></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>