<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<script th:src="@{/js/bootstrap.min.js}"></script>
<head>
    <meta charset="UTF-8">
    <title>Search Results</title>
</head>
<body>
<div class="container inner-padded">
    <div class="row justify-content-center align-items-center" style="padding-bottom: 2em;">
        <h1 class="display-3">Search result for: [[${search}]]</h1>
    </div>
    <div class="card shadow-lg p-3 mb-5 bg-white rounded">
        <table class="table">
            <tr>
                <td><span style="font-weight:bold">Track</span></td>
                <td><span style="font-weight:bold">Artist</span></td>
                <td><span style="font-weight:bold">Album</span></td>
                <td><span style="font-weight:bold">Genre</span></td>
                <td><span style="font-weight:bold">Click for details</span></td>
            </tr>
            <tr th:each="res: ${searchResults}">
                <td th:text="${res.getTrackName()}"></td>
                <td th:text="${res.getArtistName()}"></td>
                <td th:text="${res.getAlbumTitle()}"></td>
                <td th:text="${res.getGenre()}"></td>
                <td><a class="btn btn-success" th:href="'/track/' + ${res.getTrackID()}">Details</a></td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>