<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<script th:src="@{/js/bootstrap.min.js}"></script>
<head>
    <meta charset="UTF-8">
    <title>Track Details</title>
</head>
<body>
<div class="container inner-padded">
    <div class="card shadow-lg p-3 mb-5 bg-white rounded">
        <div class="row justify-content-center align-items-center">
            <h1 class="display-3">Details for: [[${searchResult.getTrackName()}]] </h1>
        </div>
        <table class="table">
            <tr>
                <td><span style="font-weight:bold">Track</span></td>
                <td><span style="font-weight:bold">Artist</span></td>
                <td><span style="font-weight:bold">Genre</span></td>
                <td><span style="font-weight:bold">Album</span></td>
            </tr>
            <tr>
                <td th:text="${searchResult.getTrackName()}"></td>
                <td th:text="${searchResult.getArtistName()}"></td>
                <td th:text="${searchResult.getGenre()}"></td>
                <td th:text="${searchResult.getAlbumTitle()}"></td>
            </tr>
        </table>
    </div>
</div>


</body>
</html>